# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VSCode
.idea/
.vscode/

# MacOS
.DS_Store

# Logs
*.log
